# Якщо різниця між двома кастами Fishing менша за це значення (в секундах),
# вважається "дуже частою" і збільшується лічильник підозр.
FishBotDetector.MinInterval = 10

# Скільки разів поспіль можна "зловити" дуже частий каст рибалки,
# перш ніж згенерувати попередження.
FishBotDetector.MaxStrikes  = 5


# LOG
Appender.FishBotDetector=2,5,1,FishbotDetector.log,a

Logger.module.fishotdetector=5,Console FishbotDetector